# Virtual environments
env/
venv/

# Python bytecode files
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code settings
.vscode/

# Test coverage files
htmlcov/

# Distribution files
dist/
build/
*.egg-info/
