# Ignore virtual environments
env/
venv/

# Byte-compiled files
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# IDE settings
.vscode/
